In [23]:
import csv

# def writer(name, a) :
#     with open(('answ_'+str(name)+'.txt'), 'w') as w :
#         csv.writer(w).writerow(a)

def writer(name, a) :
    with open(('answ_'+str(name)+'.txt'), 'w') as w :
#         if isinstance(type(a), type(list)) :
#             w.write(a)
#         else:
        w.write(str(a))

In [25]:
import pandas as pd
import numpy as np

train = pd.read_csv('svm-data.csv.csv', header = None)
train.head()
X = train.loc[:, 1:]
y = train[0]

y.head()
X.head()

      1     2
0  0.70  0.29
1  0.23  0.55
2  0.72  0.42
3  0.98  0.68
4  0.48  0.39

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [24]:
from sklearn.svm import SVC
est = SVC(kernel='linear', random_state=241, C = 100000)
est.fit(X, y)
num_vector_object = est.support_
writer(61, num_vector_object)