In [37]:
import csv

# def writer(name, a) :
#     with open(('answ_'+str(name)+'.txt'), 'w') as w :
#         csv.writer(w).writerow(a)

def writer(name, a) :
    with open(('answ_'+str(name)+'.txt'), 'w') as w :
#         if isinstance(type(a), type(list)) :
#             w.write(a)
#         else:
        w.write(str(a))

In [38]:
import pandas as pd
import numpy as np

data = pd.read_csv('titanic.csv.csv', index_col='PassengerId')
data.head()
# data.dropna()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
x = pd.DataFrame()
x = data[['Pclass','Fare','Age','Sex']]
x.head()

             Pclass     Fare   Age     Sex
PassengerId
1                 3   7.2500  22.0    male
2                 1  71.2833  38.0  female
3                 3   7.9250  26.0  female
4                 1  53.1000  35.0  female
5                 3   8.0500  35.0    male

In [40]:
Y = data['Survived']

In [41]:
x["Sex"] = x["Sex"].map({"male": 0, "female": 1})

C:\Games\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [43]:
x = x.dropna()
Y = Y[x.index]

In [57]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier

est = DecisionTreeClassifier(random_state=241)
est.fit(x,Y)
features = est.feature_importances_
x.columns

# features = sorted(features)
# max_features = features[-2:]
# print(max_features)

Index(['Pclass', 'Fare', 'Age', 'Sex'], dtype='object')

In [52]:
writer(21,max_features)