In [4]:
import csv
import numpy as np
import pandas as pd


def writer(name, a) :
    with open(('answ_'+str(name)+'.txt'), 'w') as w :
        w.write(str(a))

In [20]:
train = pd.read_csv('classification.csv.csv')
train.head()
# X = train.loc[:, 1:]
# y = train[0]

   true  pred
0     1     0
1     1     1
2     1     1
3     0     0
4     1     1

In [75]:
score = pd.DataFrame()
TP = train[(train['true'] == 1) & (train['pred'] == 1)]['true'].shape[0]
TP
FP = train[(train['true'] == 0) & (train['pred'] == 1)]['true'].shape[0]
FP
TN = train[(train['true'] == 0) & (train['pred'] == 0)]['true'].shape[0]
TN
FN = train[(train['true'] == 1) & (train['pred'] == 0)]['true'].shape[0]
FN
print(TP, FP, FN, TN)
writer(91, [TP, FP, FN, TN])

43 34 59 64

In [78]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
accuracy = accuracy_score(train['true'], train['pred'])
precision = precision_score(train['true'], train['pred'])
recall = recall_score(train['true'], train['pred'])
f1 = f1_score(train['true'], train['pred'])

print(round(accuracy,2), round(precision,2), round(recall,2), round(f1,2))
writer(92, [round(accuracy,2), round(precision,2), round(recall,2), round(f1,2)])

0.54 0.56 0.42 0.48

In [36]:
df2 = pd.read_csv('scores.csv.csv')
df2

     true  score_logreg  score_svm  score_knn  score_tree
0       0      0.683832   0.145976   0.787063    0.500000
1       1      0.801966   0.239511   1.000000    0.833333
2       0      0.382315  -0.245701   0.000000    0.000000
3       1      0.506797  -0.137058   0.000000    0.105263
4       1      0.488781  -0.154148   0.000000    0.105263
..    ...           ...        ...        ...         ...
195     0      0.573801  -0.088203   0.284192    0.400000
196     0      0.624422  -0.012315   0.205437    0.400000
197     1      0.425538  -0.135673   0.382351    0.700000
198     0      0.905270   0.583806   1.000000    1.000000
199     0      0.275594  -0.422160   0.743567    0.642857

[200 rows x 5 columns]

In [79]:
from sklearn.metrics import roc_auc_score
score_logreg = roc_auc_score(df2['true'] ,df2['score_logreg'])
score_svm = roc_auc_score(df2['true'] ,df2['score_svm'])
score_knn = roc_auc_score(df2['true'] ,df2['score_knn'])
score_tree = roc_auc_score(df2['true'] ,df2['score_tree'])
print(score_logreg, score_svm, score_knn, score_tree)
writer(93, 'score_logreg')

0.719187675070028 0.7086834733893557 0.6351540616246498 0.6919267707082833

In [71]:
from sklearn.metrics import precision_recall_curve




clf_names = df2.iloc[:,1:].columns

pr_scores = []
for clf in clf_names:
#     pr_curve = precision_recall_curve(df2["true"], df2[clf])
    precision, recall, thresholds = precision_recall_curve(df2["true"], df2[clf])
    a = precision[precision >= 0.7].max()
    pr_scores.append(a)

In [70]:
precision, recall, thresholds  = precision_recall_curve(df2["true"], df2['score_logreg'])
precision[precision >= 0.7].max()

1.0

In [80]:
clf_names[np.argmax(pr_scores)]
pr_scores
writer(94, 'score_tree')